@media print
{
  #contents {
    display: none;
  }

  #presentation {
    padding-left: 0% !important;
  }

  #presentation .slide {
    /* page-break-before: always; */
    height: auto !important;
    font-size: 0.7em !important;
    margin: 10px 0 !important;
  }
}

@font-face {
    font-family: "OpenDyslexic-Regular";
    src: url("https://rachels-courses.gitlab.io/webpage/web-assets/fonts/OpenDyslexic-Regular.otf");
}

@font-face {
    font-family: "OpenDyslexic-Bold";
    src: url("https://rachels-courses.gitlab.io/webpage/web-assets/fonts/OpenDyslexic-Bold.otf");
}

.console, .src-bash, .src-terminal {
  background: #333;
  color: #fff;
  padding: 10px;
}

body {
  background: #eee;
  color: #000;
}

body.OpenDyslexic { font-family: "OpenDyslexic-Regular" !important; }

ol ol {
  list-style-type: lower-alpha;
}

#contents {
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  font-family: sans-serif;
  font-size: 10pt;
}

body.OpenDyslexic #contents {
    font-family: "OpenDyslexic-Regular";
}

#contents a {
  color: #4C006F;
}

#contents .contents {
  margin: 10px;
  border: outset 3px #c0c0c0;
  background: #fff;
  padding: 5px;
}

#presentation {
  padding-left: 20%;
}

#presentation .accessibility-options {
  border: outset 3px #c0c0c0;
  width: 100%;
  background: #eee;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  font-size: 1.5em;
  padding: 0;
  font-family: sans-serif;
}


#presentation .accessibility-options input {
  font-size: 1.5em;
}

#presentation .slide-title {
    border: solid 2px #000;
    background: #D9B9FF;
    margin-bottom: 100px;
    text-align:center;
}

#presentation .slide-title h1 {
    font-size: 40pt;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body.OpenDyslexic #presentation .slide-title h1 {
    font-family: "OpenDyslexic-Regular";
}

#presentation .slide {
  /*border: outset 3px #c0c0c0;*/
  border-bottom: dashed 2px #ddd;
  width: 100%;
  min-height: 800px;
  background: #eee;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  font-size: 1.5em;
  padding: 0;
  font-family: sans-serif;
}

body.OpenDyslexic #presentation .slide {
    font-family: "OpenDyslexic-Regular";
    font-size: 14pt;
}

#presentation .slide li {
  margin-bottom: 10px;
}

#presentation .slide .contents,
#presentation .accessibility-options .contents {
  margin: 10px;
}

#presentation .slide .header,
#presentation .accessibility-options .header {
  text-align: center;
  background: #010080;
  color: #fff;
  margin-bottom: 10px;
  border-bottom: outset 3px #c0c0c0;
}

#presentation .slide .header a,
#presentation .accessibility-options .header a {
  color: #fff;
  text-decoration: none;
}

#presentation .slide .header h1,
#presentation .accessibility-options .header h1 {
  font-size: 24pt;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body.OpenDyslexic #presentation .slide .header h1 {
    font-family: "OpenDyslexic-Regular";
    font-size: 20pt;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

table {
  width: 100%;
}

table tr {
  vertical-align: top;
}

table, th, td {
  border-collapse: collapse;
  border: 1px #848484 solid;
  padding: 10px;
}

table.no-borders, table.no-borders th, table.no-borders td {
  border-color: #eee;
}


table.uml {
  border: solid 1px #000;
  background: #FFF0B2;
  font-family: monospace;
  font-size: 10pt;
}

table.uml tr td:nth-of-type( even ),
table.uml tr th:nth-of-type( even ) {
  background: #FFF0B2;
}

table.uml td, table.uml th {
}

table.uml code {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
