/* Element-level */

body {
  background: #d9d0eb;
}

a {
  color: #7d0a43;
  text-decoration: underline;
}

a:hover {
  color: #300a7d;
}

a img {
  /* border: solid 1px #fcf431; */
}

footer {
  font-size: 8pt;
}

section {
  margin-bottom: 50px;
}

ul, ol {
  list-style-position: outside;
}

ul li, ol li {
  margin-bottom: 15px;
}

hr {
  height: 0px;
  border: dashed 1px #300a7d;
}

table, tr, th, td {
  border: solid 1px #9585b4;
}

th {
  background: #bdafd9;
}

.side-view h1 {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-weight: bold;
}

code {
  background: rgba( 255, 255, 255, 0.5 );
  padding: 5px;
}

.highlight code {
  background: rgba( 255, 255, 255, 0.5 );
  padding: 0;
}

/* Handy things */
.fit-image img { width: 100%; }

@media print {
   .fit-image img { width: 10%; }
}

.center {
  text-align: center;
}

.class-name {
  font-size: 8pt;
}

.fill-in {
  background: #e8e3ab;
}

.highlight {
  padding: 2px;
  background: #ffe86a;
}

/* Schedule table */
table.schedule  .current-week {
  background: #ffed72;
}

table.schedule .WEEK { width: 5%;  }
table.schedule .DATE { width: 10%; }
table.schedule .CONT { width: 75%; }
table.schedule .NOTE { width: 10%;  font-size: 8pt; }


/* page section types */
.unit-introduction {
  background: #c6adf8;
  padding: 10px;
  border: solid 1px #6c4ab1;
}

.unit-page section h2,
.assignment-page section h2 {
  width: 100%;
  background: #c6adf8;
  padding: 10px;
  border: solid 1px #6c4ab1;
}

.side-view {
  font-size: 10pt;
}

.side-view ul {
  padding-left: 15px;
}

section.program-specs {
  width: 95%;
  margin: 0 auto;
  border: solid 1px #fcb772;
  background: #fbf9cb;
  padding: 10px;
  margin-bottom: 50px;
}

section.program-specs.program-1 { background: #f9f8de; border: border: solid 2px #fcb772; }
section.program-specs.program-2 { background: #f9ebde; border: border: solid 2px #cb8357; }
section.program-specs.program-3 { background: #f9dee5; border: border: solid 2px #853349; }
section.program-specs.program-4 { background: #f0d7f9; border: border: solid 2px #7d3d92; }
section.program-specs.program-5 { background: #dbdff4; border: border: solid 2px #4d5bb0; }
section.program-specs.program-6 { background: #dcf8ea; border: border: solid 2px #34a16a; }
section.program-specs.program-7 { background: #e7f3d7; border: border: solid 2px #6d9638; }

section.program-specs.program-1 .heading { background: #fffb92; margin-bottom: 10px; }
section.program-specs.program-2 .heading { background: #ffc38c; margin-bottom: 10px; }
section.program-specs.program-3 .heading { background: #ffb1c5; margin-bottom: 10px; }
section.program-specs.program-4 .heading { background: #e59dff; margin-bottom: 10px; }
section.program-specs.program-5 .heading { background: #9babff; margin-bottom: 10px; }
section.program-specs.program-6 .heading { background: #9cffce; margin-bottom: 10px; }
section.program-specs.program-7 .heading { background: #d6ff9e; margin-bottom: 10px; }

.example-code {
}

.example-code.code-bash:before {
  content: "Bash (console) command";
  background: #ffff00;
  padding: 1px 5px;
}


.example-code.code-cpp:before {
  content: "C++ code";
  background: #ffff00;
  padding: 1px 5px;
}


.example-code.code-python:before {
  content: "Python code";
  background: #ffff00;
  padding: 1px 5px;
}

.example-code.program-output:before {
  content: "Example program output";
  background: #ffff00;
  padding: 1px 5px;
}

.example-code.text-output:before {
  content: "Example text file output";
  background: #ffff00;
  padding: 1px 5px;
}

.example-code.text-input:before {
  content: "Example text file input";
  background: #ffff00;
  padding: 1px 5px;
}

.example-code.pseudocode:before {
  content: "Example pseudocode";
  background: #ffff00;
  padding: 1px 5px;
}

.example-code.text-cases:before {
  content: "Example test cases";
  background: #ffff00;
  padding: 1px 5px;
}

.program-output pre {
    background: #3A3A3A;
    color: #ffffff;
    padding: 5px;
}

.text-output pre,
.pseudocode pre,
.test-cases pre,
.text-input pre {
    background: #ddd;
    color: #000;
    padding: 5px;
    border: solid 1px #333;
}

.challenge-level {
  background: rgba( 0, 0, 255, 0.5 );
}

.quick-jump {
  margin: 20px;
}



.hint {
  padding: 10px;
  margin: 20px auto;
  width: 75%;
  background: #7EC0FF;
  border: solid 2px #2C6BA7;
  color: #000;
}

.warning {
  padding: 10px;
  margin: 20px auto;
  width: 75%;
  background: #841c41;
  border: solid 2px #f97ba7;
  color: #fff;
  text-align: center;
  font-size: 14pt;
}

.warning p {
  padding: 0;
  margin: 0;
}

.syllabus h3 {
  margin-top: 45px;
  border-bottom: solid 1px #6c4ab1;
}

.syllabus h4 {
  margin-top: 45px;
}

.syllabus .this-changes {
  background: rgba( 255, 255, 255, 0.5 );
}

.syllabus .course-catalog-overview {
  font-size: 11pt;
}

.syllabus .course-catalog-overview h3 {
  font-size: 12pt;
  border-bottom: none;
  font-weight: bold;
}

.syllabus .course-catalog-overview p {
  margin: 0;
}

.under-construction {
  width: 75%;
  margin: 20px auto;
  background: #FFF781;
  border: solid 2px #8F860A;
  padding: 10px;
  text-align: center;
  font-size: 14pt;
}


.highlight-ok {
  background: #C4FFC2;
}

.highlight-notok {
  background: #FFC2C5;
}




.spec {
  width: 80%;
  margin: 20px auto;
  border: solid 1px #000;
}

.spec.function-header {
}

.spec .function-header p {
  padding: 0;
  margin: 0;
  
}

.spec .function-body {
  border-top: solid 1px #000;
  padding-top: 10px;
}


@media print {
  .print-invisible { display: none; }
}

.test-reminder {
  text-align: center;
}

.uml { border: solid 1px #000; font-family: monospace; background: #FEFFE0; width: 100%; color: #000; }
table.uml tr td,
table.uml tr th { padding: 5px; background: #fff; }

table.uml tr th { text-align: center; background: #fff; }
