
.terminal {
}

.terminal pre {
  background: #000;
  color: #fff;
  padding: 10px;
  border: outset 5px #999;
}

.terminal::before {
  content: "Example output";
  font-size: 8pt;
}

.code.cpp::before {
  content: "C++ code";
  font-size: 8pt;
}

.code.python::before {
  content: "Python code";
  font-size: 8pt;
}

.error::before {
  content: "Erroneous code";
  font-size: 8pt;
}

.error pre {
  background: #802326;
  color: #FFA1A3;
  padding: 5px;
}

a {
  color: #DD7EFF;
}

a:hover {
  color: #EBB3FF;
}

h3 {
    background: #3F215C;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}

h4 {
    background: #343434;
    padding: 5px;
    margin-top: 100px;
}

h5 {
    margin-top: 50px;
    color: #fff;
}

footer {
  font-size: 8pt;
  text-align: center;
}

.fit-image img {
  width: 100%;
}

.tool-tip {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.tool-tip:hover .tool-tip-box {
  visibility: visible;
}

.tool-tip-box {
  visibility: hidden;
  background: #007133;
  padding: 5px;
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;
  font-weight: normal;
}

.take-note {
  border: dashed 2px #4A4A4A;
  position: relative;
  padding: 10px;
}

.take-note::before {
  position: absolute;
  top:100%;
  content: "Write this in your notes!";
  color: #ffff00;
  font-size: 10pt;
}

.class-schedule a {
	color: #F0C5FF;
}

code {
  background: #140064;
  color: #9E8BEA;
  padding: 5px;
}

.spacer {
	margin-top: 100px;
}

.more-info {
	padding: 10px;
	border: solid 1px #666;
}

.on-canvas {
	height: 16px;
	width: 16px;
	margin-right: 16px;
	background: url( "../graphics/canvas-icon.png" ) no-repeat;
}

.on-canvas:after {
	margin-left: 20px;
	font-size: 10pt;
	color: #FF4064;
	content: 'Canvas'; /*'(On Canvas)';*/
}

.assignment-module {
  margin-top: 50px;
}

@media print {
  .page-break {
	page-break-before: always;
  }
  
  .spacer {
	margin: 0;
  }
}
