/* Element-level */

body {
}

a {
  color: #c99fea;
  text-decoration: underline;
}

a:hover {
  color: #9d59d2;
}

a img {
  /* border: solid 1px #fcf431; */
}

footer {
  font-size: 8pt;
}

section {
  margin-bottom: 100px;
}

.week-of {
  font-size: 12pt;
  margin-left: 20px;
}

.due-date {
  font-size: 10pt;
  color: #FFDD7E;
  margin-left: 10px;
}

.class-link {
  font-weight: bold;
}

.canvas-link {
  color: #FFBCBC;
  font-weight: bold;
}

.canvas-link::before {
  content: url(https://rachels-courses.gitlab.io/webpage/web-assets/graphics/canvas-icon.png);
}

.replit-link {
  color: #FFE7BC;
  font-weight: bold;
}

.replit-link::before {
  content: url(https://rachels-courses.gitlab.io/webpage/web-assets/graphics/replit-icon.png);
}

/* Handy things */
.fit-image img { width: 100%; }

.center {
  text-align: center;
}

.class-name {
  font-size: 8pt;
}

/* Schedule table */
table.schedule  .current-week {
  background: #054404;
}

table.schedule .WEEK { width: 5%;  }
table.schedule .DATE { width: 10%; }
table.schedule .CONT { width: 75%; }
table.schedule .NOTE { width: 10%;  font-size: 8pt; }


table.schedule .dates {
  font-size: 0.9em;
}

table.schedule .notes {
  font-size: 0.9em;
}

/* page section types */
.unit-introduction {
  background: #2e084c;
  padding: 10px;
  border: solid 1px #9d59d2;
}

.course-info-container {
  text-align: left;
}

.course-info-p {
  font-size: 8pt;
}

span.course-info {
  font-weight: bold;
  font-size: 11pt;
}

nav .nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #aaa;
}

nav .nav-link:hover {
  text-decoration: underline;
}

.UNIT {
  margin-top: 50px;
  padding: 2%;
}

.UNIT a.quicklink {
  margin-right: 10px;
  text-decoration: none;
}

.UNIT .description {
  border: solid 1px #aaa;
  margin: 20px 10px;
  padding: 12px;
  background: #454545;
}

.UNIT header {
  background: #66317E;
  width: 100%;
  margin: 5px;
  padding: 5px;
  font-size: 2em;
}

.toplink {
  text-align: right;
}

.totop {
  font-size: 2em;
}


/* SYLLABUS */

.syllabus .qa-nav p {
  padding: 0;
  margin: 0;
}

.syllabus .qa-nav {
  font-size: 10pt;
}

.syllabus .changes {
  background: #271c31;
}

.syllabus .CS134-TOGGLE {
  background: #1c3128;
}

.syllabus .CS200-TOGGLE {
  background: #452337;
}

.syllabus h4 {
  margin-top: 50px;
}

.syllabus .code-of-conduct {
  margin: 50px;
}

ul.ok {
  list-style: none;
}

ul.ok li {
}

ul.ok li:before {
  content: "✅";
  padding-right: 5px;
}

ul.not-ok {
  list-style: none;
}

ul.not-ok li:before {
  content: "⛔";
  padding-right: 5px;
}

.syllabus .q-and-a li {
  margin-bottom: 20px;
}

.syllabus .required-stuff {
  border: solid 1px #fff;
  padding: 20px;
}

.syllabus .required-stuff h4 {
  font-size: 12pt;
  margin-top: 10px;
}

.syllabus .required-stuff {
  font-size: 10pt;
}

.syllabus .required-stuff p {
  padding-left: 20px;
}

.syllabus .course-catalog-information {
  font-size: 10pt;
}

.syllabus .course-catalog-information  p {
  padding: 0;
  margin: 0;
}

td.cs200, th.cs200 {
  background: #600036;
}

td.cs235, th.cs235 {
  background: #510200;
}

td.cs250, th.cs250 {
  background: #340049;
}

tr:nth-child(odd) td.cs200 {
  background: #32001c;
}

tr:nth-child(odd) td.cs235 {
  background: #2a0100;
}

tr:nth-child(odd) td.cs250 {
  background: #1a0025;
}

td.cs200 a, td.cs200 a:visited {
  color: #ffb2dd;
}

td.cs235 a, td.cs235 a:visited {
  color: #ffb2b0;
}

td.cs250 a, td.cs250 a:visited {
  color: #e8b0ff;
}

td.cs200 a:hover, td.cs235 a:hover, td.cs250 a:hover {
  color: #fffaaf;
}

homepage.fall2023 table {
  font-size: 12pt;
}
