
@media print {
  .collapsible {
    display: none;
  }
  
  .page-break {
    page-break-after: always;
  }

  .syllabus .navigation ul li.active {
    background: #FFE41A;
    border: solid 1px #000;
    padding: 5px;
  }
  
  .syllabus .navigation ul li.active::before {
    content: "" !important;
  }

  .single-page {
    border-color: #fff !important;
  }
    
  .syllabus .card,
  .syllabus .card .card-body {
    margin: 0;
    padding: 0;
  }


}
  
.syllabus h2 {
  font-size: 14pt;
}
.syllabus h3 {
  font-size: 12pt;
  font-weight: bold;
}

.syllabus table.schedule td {
  padding: 0 10px;
  margin: 0;
}

.syllabus table.condensed {
  padding: 0 10px;
  margin: 0;
}

.single-page {
  width: 100%;
  height: 695px;
  border: dashed 2px #ccc;
  background: #fff;
}

.syllabus .single-page .navigation {
  /*width: 10%;
  float: left;*/
}

.syllabus .single-page .syllabus-content {
  /*width: 89%;
  float: right;*/
  width: 100%;
}

.syllabus .navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.syllabus .navigation ul li {
  margin-bottom: 10px;
}

.syllabus .navigation ul li.active {
  background: #FFE41A;
}

.syllabus .navigation ul li::before {
  content: "  ";
}

.syllabus .navigation ul li.active::before {
  content: ">> ";
}

.syllabus .choose-course {
}

.syllabus .cs134 {
  background: rgba( 28, 106, 5, 0.1 );
}

.syllabus .cs200 {
  background: rgba( 205, 0, 115, 0.1 );
}

.syllabus .cs235 {
  background: rgba( 191, 53, 49, 0.1 );
}

.syllabus .cs250 {
  background: rgba( 130, 0, 181, 0.1 );
}

.syllabus .cs134.cs200.cs235 tr,
.syllabus .cs134.cs200.cs235 td,
.syllabus .cs134.cs200.cs235 th {
  background: #FFFAA7;
}

.syllabus table.example tr td,
.syllabus table.example tr th {
  padding: 0;
  margin: 0;
}

.syllabus .cs134 tr:nth-child(odd) td,
.syllabus .cs134 tr th {
  background: rgba( 28, 106, 5, 0.16 );
}

.syllabus .cs200 tr:nth-child(odd) td,
.syllabus .cs200 tr th {
  background: rgba( 205, 0, 115, 0.16 );
}

.syllabus .cs235 tr:nth-child(odd) td,
.syllabus .cs235 tr th {
  background: rgba( 191, 53, 49, 0.16 );
}

.syllabus .cs250 tr:nth-child(odd) td,
.syllabus .cs250 tr th {
  background: rgba( 130, 0, 181, 0.16 );
}

.syllabus table th {
  
}

.syllabus table td {
}

.syllabus .accom-info {
  /*text-align: justify;*/
}

.syllabus .card {
  margin-bottom: 10px;
}

.syllabus .course-catalog p {
  padding: 0;
  margin: 0;
}

.syllabus .course-catalog {
  font-size: 8pt;
}


body {
  font-size: 11pt;
}

.unit-view.cs134 .unit-header {
  padding-left: 60px;
  background-image: url( "../../web-assets/semester-icons/small-cs134.png" ) !important;
  background-repeat: no-repeat !important;
}

.unit-view.cs200 .unit-header {
  padding-left: 60px;
  background-image: url( "../../web-assets/semester-icons/small-cs200.png" ) !important;
  background-repeat: no-repeat !important;
}

.unit-view.cs235 .unit-header {
  padding-left: 60px;
  background-image: url( "../../web-assets/semester-icons/small-cs235.png" ) !important;
  background-repeat: no-repeat !important;
}

.unit-view.cs250 .unit-header {
  padding-left: 60px;
  background-image: url( "../../web-assets/semester-icons/small-cs250.png" ) !important;
  background-repeat: no-repeat !important;
}

td.cs134, th.cs134 {
  background: rgba( 28, 106, 5, 0.2 );
}

td.cs200, th.cs200 {
  background: rgba( 205, 0, 115, 0.2 );
}

td.cs235, th.cs235 {
  background: rgba( 191, 53, 49, 0.2 );
}

td.cs250, th.cs250 {
  background: rgba( 130, 0, 181, 0.2 );
}

tr:nth-child(odd) td.cs134 {
  background: rgba( 28, 106, 5, 0.1 );
}

tr:nth-child(odd) td.cs200 {
  background: rgba( 205, 0, 115, 0.1 );
}

tr:nth-child(odd) td.cs235 {
  background: rgba( 191, 53, 49, 0.1 );
}

tr:nth-child(odd) td.cs250 {
  background: rgba( 130, 0, 181, 0.1 );
}

.expand-collapse-header {
  cursor: pointer;
  background: rgba( 0, 0, 0, 0.1 );
}

.expand-collapse-header .expand-collapse {
}

.collapsable .toggle-view {
  display: none;
}

td.cs134 a, td.cs134 a:visited {
  /*color: rgba( 28, 106, 5, 1 );*/
  color: #5c8350;
}

td.cs200 a, td.cs200 a:visited {
  /*color: rgba( 205, 0, 115, 1 );*/
  color: #b54d87;
}

td.cs235 a, td.cs235 a:visited {
  /*color: rgba( 158, 28, 25, 1 );*/
  color: #995b59;
}

td.cs250 a, td.cs250 a:visited {
  /*color: rgba( 130, 0, 181, 1 );*/
  color: #865898;
}

td.cs200 a:hover, td.cs235 a:hover, td.cs250 a:hover {
  background: #fffaaf;
}

homepage.fall2023 table {
  font-size: 12pt;
}

table.schedule ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table.schedule ul li {
  
}

.course-info-container p {
  padding: 0;
  margin-bottom: 10px;
}

.course-info-container .label {
  font-size: 8pt;
  color: #666;
  display: block;
  line-height: 2px;
}

.course-info-container .course-info {
}

.spacer {
  height: 100px;
}

.unit-view {
  margin-bottom: 50px;
}

.unit-view .header-quick-links {
  text-align: right;
}

.unit-view .unit-header {
}

.cs134-container { border-left: solid 20px rgba( 28, 106, 5, 0.2 ); }
.cs200-container { border-left: solid 20px rgba( 205, 0, 115, 0.2 ); }
.cs235-container { border-left: solid 20px rgba( 191, 53, 49, 0.2 ); }
.cs250-container { border-left: solid 20px rgba( 130, 0, 181, 0.2 ); }

.unit-view.cs134 .unit-header { background: rgba( 28, 106, 5, 0.2 ); }
.unit-view.cs200 .unit-header { background: rgba( 205, 0, 115, 0.2 ); }
.unit-view.cs235 .unit-header { background: rgba( 191, 53, 49, 0.2 ); }
.unit-view.cs250 .unit-header { background: rgba( 130, 0, 181, 0.2 ); }

.unit-view .unit-contents h3 {
  font-size: 12pt;
  font-weight: bold;
  padding: 5px;
}

.unit-view.cs134 .unit-contents h3 { background: rgba( 28, 106, 5, 0.2 ); }
.unit-view.cs200 .unit-contents h3 { background: rgba( 205, 0, 115, 0.2 ); }
.unit-view.cs235 .unit-contents h3 { background: rgba( 191, 53, 49, 0.2 ); }
.unit-view.cs250 .unit-contents h3 { background: rgba( 130, 0, 181, 0.2 ); }

.unit-view .unit-description,
.unit-description {
  margin: 2%;
  width: 95%;
  padding: 5px;
  border: solid 2px #FF8D24;
  background: #FFE37A;
  color: #000;
}

.unit-view .unit-description a {
  color: #040476;
}

.unit-view .unit-contents {
  padding-top: 10px;
}

.canvas-link {
}

.canvas-link::before {
  content: url(https://rachels-courses.gitlab.io/webpage/web-assets/graphics/canvas-icon.png);
}

.starter-code::before {
  content: "💾 ";
}

.documentation::before {
  content: "📜 ";
}

.class-present::before {
    content: "📣 ";
}

.video-lecture::before {
    content: "📺 ";  
}

.video-archive::before {
    content: "🎥 ";
}

.textbook::before {
    content: "📘 ";
}

.concept-intro::before {
    content: "🆕 ";
}

.exercise::before {
    content: "🏋️ ";
}

.notes::before {
    content: "📝 ";
}

.checkin::before {
    content: "🧑‍🏫 ";
}

.tech-literacy::before {
    content: "🧠 ";
}

.link::before {
    content: "🔗 ";
}

.download::before {
    content: "⏬ ";
}

.instructions::before {
    content: "❓ ";
}

.exercise-docs .section {
  padding-bottom: 50px;
}

.exercise-docs .section h3 {
  background: #9a59cf;
  color: #fff;
  padding-left: 5px;
}

.sub-section {
  padding-left: 10px;
  margin-bottom: 50px;
  border-left: solid 10px #ccc;
}

body.exercise-docs {
  padding-bottom: 100px;
}

.fit-image img,
img.fit-image { width: 100%; }


.image-container {
  background: #FFFAB7;
  padding: 10px;
}



/* From https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible */

.collapsible {
  cursor: pointer;
  padding: 18px;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  margin-bottom: 10px;
  border: outset 2px #aaa;
  background: #ccc;
  color: #000;
}

.active, .collapsible:hover {
  background-color: #FFFAB7;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.instruction {
  font-size: 1.2em;
  background: #FFFAB7;
  padding: 5px;
}

.instruction::before {
  content: "▸ ";
}

pre {
  margin: 10px;
  border: solid 2px #aaa;
}

pre.console {
  background: #111;
  color: #fff;
  font-size: 14pt;
  padding: 10px;
}

.warning {
  background: #FFB7BF;
  border: solid 2px #FF001B;
  padding: 10px;
  margin: 10px 50px;
}

table.uml {
  width: 100%;
  font-family: monospace;
}

table.uml th {
  text-align: center;
}

table.uml, table.uml tr, table.uml td {
  border: solid 1px #000;
}

p code {
  padding: 0 5px;
  background: #E8E8E8;
  font-weight: bold;
}



.class-presentation {
  font-size: 1.2em;
}

.unit-info {
  font-size: 12pt;
  font-weight: bold;
}

.week-info strong {
  border-bottom: solid 1px #000;
  width: 100%;
}


.window2k24 {
  border: outset 3px #ccc;
  margin-bottom: 5px;
}

.window2k24 .window2k24-header {
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
}

.cs200 .window2k24 .window2k24-header {
  background: rgba( 205, 0, 115, 1.0 );
}

.cs235 .window2k24 .window2k24-header {
  background: rgba( 191, 53, 49, 1.0 );
}

.cs250 .window2k24 .window2k24-header {
  background: rgba( 130, 0, 181, 1.0 );
}

.window2k24-content {
  background: #fff;
  padding: 5px;
  color: #000;
}




.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


