/* Element-level */

body.cs134 {
  color: #363534;
  background: #fff;
  padding: 0;
  margin: 0;
}

.cs134 a, .cs134 a:visited {
  color: #0094b3;
}

.cs134 .onepage {
  width: 900px;
  height: 800px;
  max-height: 800px;
  border: solid 1px #DFDFDF;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 5px;
}

.cs134 .description {
  background: #ddd;
  padding: 3px;
}

.cs134 .description p {
  padding: 0;
  margin: 0;
}

.cs134 h2 {
  margin: 0;
  padding: 0;
}

.cs134 header {
  font-size: 14pt;
}

.cs134 .UNIT {
  margin-top: 0;
}

.cs134 .UNIT header {
  color: #fff;
}

.cs134 .due-date { 
  color: #B4009F; 
  display: block;
}

.cs134 section {
  margin: 0;
}

.cs134 .separator {
  height: 2px;
  background: #aaa;
}

.cs134 .content-description {
  font-size: 11pt;
}
