.action-item {
  border: solid 2px #FFAB34;
  background: #FFEACC;
  padding: 10px;
  margin: 50px;
}

.console, .src-bash {
  background: #333;
  color: #fff;
  padding: 10px;
}

.textfile {
  background: #fff;
  color: #000;
  padding: 10px;
}

img {
  border: solid 1px #aaa;
  max-width: 100%;
}

table { margin: 20px auto; }
